h1{
    position: fixed;
    color: brown;
    background-color: rgba(252, 191, 25, 0.7);
    margin-left: 27%;
    margin-top: 0%;
    z-index: 2;
}

body{
	width: 100%;
	height: 100%;
	margin: 5px;
	font-family: "Helvetica Neue", Arial, Helveticam sans-serif;
}

#map {
	height:98%;
	width:98vw;
	left:1%;
	overflow:hidden;
	position:fixed;
	border:1px #444 solid;
}

.info.legend {
    padding: 8px 12px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size: 14px;
    line-height: 24px;
}

.info.legend h4 {
    margin: 0 0 5px;
    color: #333;
}

.leaflet-control a {
    font-size: 20px;
    text-align: center;
    line-height: 26px;
    width: 28px;
    height: 28px;
}

.leaflet-control-locate {
  background-color: white;
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #aaa;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
